## Unemployment

In [5]:
# Run this cell to set up the notebook, but please don't change it.

# These lines import modules.
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import io
import requests

## Load dataframe
df_url = "https://raw.githubusercontent.com/lisds/quant-1b/refs/heads/main/data/unemployment.csv"
url_content = requests.get(df_url, verify = False).content
unemployment = pd.read_csv(io.StringIO(url_content.decode("utf-8")))
unemployment

          Date      NEI  NEI-PTER
0   1994-01-01  10.0974   11.1720
1   1994-04-01   9.6239   10.7883
2   1994-07-01   9.3276   10.4831
3   1994-10-01   9.1071   10.2361
4   1995-01-01   8.9693   10.1832
..         ...      ...       ...
85  2015-04-01   8.8386   10.1483
86  2015-07-01   8.6847    9.9166
87  2015-10-01   8.6650    9.8385
88  2016-01-01   8.4330    9.6174
89  2016-04-01   8.5400    9.7146

[90 rows x 3 columns]

Below we've loaded data on unemployment in the United States. There are many ways of defining unemployment, and our dataset includes two notions of the unemployment rate:

1. Among people who are able to work and are looking for a full-time job, the percentage who can't find a job.  This is called the Non-Employment Index, or NEI.
2. Among people who are able to work and are looking for a full-time job, the percentage who can't find any job *or* are only working at a part-time job.  The latter group is called "Part-Time for Economic Reasons", so the acronym for this index is NEI-PTER.  (Economists are great at marketing.)

The source of the data is [here](https://fred.stlouisfed.org/categories/33509).

ValueError: Array conditional must be same shape as self

**Question 1.** Sort the data in decreasing order by NEI, naming the sorted table `by_nei`. Create another table called `by_nei_pter` that's sorted in decreasing order by NEI-PTER instead.

In [5]:
by_nei = ...
by_nei_pter = ...

**Question 2.** Do the same as Question 1 but in increasing order.

In [10]:
by_nei = ...
by_nei_pter = ...

**Question 3.** Can you show the first four rows of the answers in ?

In [10]:
#pter = ...
#pter

unemployment['NEI + NEI-PTER']

KeyError: 'NEI + NEI-PTER'

**Question 4.** Add `pter` as a column to `unemployment` (named "PTER") and sort the resulting table by that column in decreasing order.  Call the table `by_pter`.

Try to do this with a single line of code, if you can.

In [13]:
by_pter = ...
by_pter

In [14]:
_ = tests.grade('q5')

**Question 6.** Does it seem true that the PTER rate was very high during the Great Recession, compared to other periods in the dataset?  **Also**, is the sorted table the best way to find this out, or can you think of other ways to look at the data to answer this question?

*Write your answer here, replacing this text.*

In [16]:
# For your convenience, you can run this cell to run all the tests at once!
import os
_ = [tests.grade(q[:-3]) for q in os.listdir("tests") if q.startswith('q')]

In [17]:
# Run this cell to submit your work *after* you have passed all of the test cells.
# It's ok to run this cell multiple times. Only your final submission will be scored.

!TZ=America/Los_Angeles ipython nbconvert --output=".basic_sorting_$(date +%m%d_%H%M)_submission.html" basic_sorting.ipynb