# First principles

This is a sparse notebook for you to practice creating contingency tables and using the `repeat` function.

## Cross-tabulation

In [ ]:
# Import modules
import numpy as np
import pandas as pd
# Safe setting for Pandas.  Needs Pandas version >= 1.5.
pd.set_option('mode.copy_on_write', True)

# Load the dataset
df = pd.read_csv("../data/titanic_clean.csv")
df.head()

### DIY

Use the titanic dataset, and any variables of interest, to do the following exercises:

1) Create a one-way table
2) Create a two-way table
3) Create a three/four/five-way table

For the latter two, explore calculating proportions across rows vs. columns.

*Extension*: use `df['name'].str[0]` to extract first letter of the names, and create a contigency table based on this.

In [ ]:
# One-way table

In [ ]:
# Two-way table

In [ ]:
# Multiple-way table

## Repeat

Play around with the `numpy` `repeat` function! Before you run the next two examples, guess what the output will be.

In [ ]:
import numpy as np

In [ ]:
# Simple example
np.repeat(2, 5)

In [ ]:
# Slightly less simple example
np.repeat(["Blue", "Triangle"], [2, 3])

*Extension*: create an array with the number of rooms on each floor of LIS.